body {
    background-image: url(BG.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

a{
    transition:all ease 0.5s;
    color:white;
    text-decoration:none;
}

a:hover{
    color:rgb(255, 164, 164);
}

#container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-family: "华文中宋";
    font-weight: bold;
    margin-bottom: 20px;
    user-select: none;
}

#logo {
    display: block;
    object-fit: contain;
    margin: 0 auto;
    width: 40%;
}

.subContainer {
    transition: all ease 1s;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 15px;
}

    .subContainer:hover {
        background-color: rgba(0,0,0,0.4);
    }

footer {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    display:flex;
    flex-direction:column;
}